---
# Example vault file - DO NOT store actual passwords here
# Copy this file to vault.yml and encrypt it with ansible-vault

# Initial root access
vault_root_password: "original_root_password"

# New root password for initial setup
vault_new_root_password: "new_root_password"

# Sudo password for new user and privilege escalation
vault_devops_password: "devops_password"

# Webserver Configuration - For TLS certificates with certbot
webserver_cert_name: "name-for-cert" # usually domain-name
webserver_cert_email: "email@example.com" # email for certbot
webserver_cert_domain_wildcard: "*.example.com" 

vault_cloudflare_api_token: "cloudflare_api_token"